<!DOCTYPE html>
<html>
  <head>
    <title>Ma page d'accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  </head>
  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Bienvenue sur ma page d'accueil !
          </h1>
          <h2 class="subtitle">
            Ici, vous trouverez toutes les informations dont vous avez besoin.
          </h2>
          <h3><a href="{% url 'admin:index' %}">Administration</a> | <a href="{% url 'chat_index' %}">chat index</a> | <a href="{% url 'chat_room' room_name='1' %}">chat room</a></h3>
        </div>
      </div>
    </section>
  </body>
</html>